sudo:
  false

language:
  python

python:
  - 2.7

services:
  - postgresql
  - docker

addons:
  postgresql: '9.4'

env:
  global:
    - TEST_WAREHOUSE_URL=postgres://postgres@localhost:5432/opentrials_warehouse_test

install:
  - make install
  - psql -c 'create database opentrials_warehouse_test;' -U postgres

script:
  - make build
  - make test
  - make push

deploy:
  - provider: script
    script: make deploy
    on:
      branch: master
